body {
    padding-top: 100px;
    text-decoration: none;
    word-wrap: break-word;
    display: flex;
}

div.row {
    display: flex;
    padding: 20px;
}

div#cadre {
    border: solid;
    text-align: start;
    display: inline-block;
    
    position: relative;
    padding: 30px;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

div#header {
    margin-bottom: 5%;
}